.content {
flex: 1 1 900px;
max-width: 1200px;
height: 100vh;
&_inner{
  padding-top: 70px;
.projectList{
flex-wrap: wrap;
.project{
  flex: 1 1 400px;
  height: 250px;
  align-content: space-around;
  justify-content: space-between;

  img{
    width: 400px;
    height: 250px;
  }
}
}
}

}