.content{

}

@media (min-width: 1200px) {
    .content {
        //padding-left: 295px;
        width: calc(100% - 295px);
        padding-top: 120px;
    }
}
@media (max-width: 1199px) {
    .content {
        padding-top: 120px;
        width: 100%;
        
    }
}