.Comics{
height: 100%;
width: 1000px;
    .Dmitrii{
        margin-right: 10px;
        blockquote {
            position: relative;
            text-align: center;
            width: 450px;
            margin: 16px 16px 34px 16px;
            border: 2px solid #fa2424;
            border-radius: 20px;
            padding: 16px 24px;
            font-size: 18px;
        }
        blockquote:before,
        blockquote:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
        }
        blockquote:before {
            left: 30px;
            bottom: -32px;
            border: 16px solid;
            border-color: #fa2424 transparent transparent #fa2424;
        }
        blockquote:after {
            left: 35px;
            bottom: -21px;
            border: 12px solid;
            border-color: #fff transparent transparent #fff;
        }
        blockquote cite {
            position: absolute;
            bottom: -28px;
            left: 62px;
            font-size: 15px;
            font-weight: bold;
            color: #fa2424;
        }
    }
    .Guest{
        margin-left: calc(100% - 460px);
        blockquote {
            width: 450px;
            position: relative;
            text-align: center;
            margin: 16px 16px 34px 16px;
            border: 2px solid #337AB7;
            border-radius: 20px;
            padding: 16px 24px;
            font-size: 18px;
        }
        blockquote:before,
        blockquote:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
        }
        blockquote:before {
            right: 30px;
            bottom: -32px;
            border: 16px solid;
            border-color:   #337AB7  #337AB7 transparent transparent;
        }
        blockquote:after {
            right: 35px;
            bottom: -21px;
            border: 12px solid;
            border-color:  #fff  #fff transparent transparent;
        }
        blockquote cite {
            position: absolute;
            bottom: -28px;
            right: 62px;
            font-size: 15px;
            font-weight: bold;
            color: #337AB7;
        }
    }
    input {
        all: unset;
        border-bottom: 1px solid #337AB7;
    }
}